/* Brands.css */

.first-container.brands {
  padding: 69px 0 0 0;
  background: #fff;
}
.brand-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 85%;
  background: #fff;

  margin: 0 auto 90px;
}

.brand-item {
  text-align: center;
}

.brand-item img {
  max-width: 100%;
  padding: 10px;
}

.brand-description {
  font-size: 14px;
  margin-top: 10px;
  color: #333; /* Adjust text color as needed */
}
