/* Navbar Styles */

.menu {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: #70259b;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.navbar {
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.brand-image {
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.scroll-link {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.scroll-link:hover {
  color: #fff;
}

.lets-talk {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  background: #fff;
  border: none;
  color: var(--primary-main, #70259b);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.lets-talk:hover {
  background: var(--primary-main, #70259b);
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Styles for mobile menu */
.nav-open {
  height: auto;
}

.nav-open .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-open .bar2 {
  opacity: 0;
}

.nav-open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }
  .nav-menu {
    display: none;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
  }

  .nav-open .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #8224b8;
    text-align: left;
    align-items: flex-start;
    gap: 25px;
    padding: 50px;
  }

  .scroll-link {
    border-bottom: 3px solid #d100c9;
    padding-bottom: 10px;
  }
}
