/* WhatWeDo */

.first-container {
  padding: 85px 0 0 0;
  margin: auto;
  /*height: 776px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 85%;
  background: #fff;
}

.heading-tag {
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.what-we-do1 {
  color: #000;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.heading-tag-child {
  width: 40px;
  height: 4px;
  flex-shrink: 0;
  background: var(--primary-active, #d100c9);
}

.we-offer-a {
  color: var(--shades-700, #242424);
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  margin-bottom: 87px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 52px;
}

.icon {
  width: 64px;
  height: 64px;
}

.section {
  width: calc(25% - 20px);
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: flex-start;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--shades-700, #242424);
  line-height: 150%;
}

@media screen and (max-width: 1025px) {
  .section-container {
    flex-wrap: wrap;
  }
  .section {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  /*.first-container {
    padding: 50px 0 0 0;
  }*/
  /*.section-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
*/
  .section {
    width: 100%;
  }

  .we-offer-a {
    color: var(--shades-700, #242424);

    font-size: 2.5em;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 50px;
  }
}
